<md-card layout-padding="" ng-controller="SetupLrsCtrl as ctrl"
         md-colors="{background:'background-50'}">
    <md-card-header>
        Test POST Statements
    </md-card-header>

    <md-card-content>
        <md-list-item class="md-3-line"
                      ng-repeat="lrs in ctrl.lrsList">
            <div class="md-list-item-text" layout="column">
                <h3 md-colors="{background: 'green'}">{{lrs.id}}</h3>
                <h3 md-colors="{background: 'green'}">{{lrs.endpoint}}</h3>
                <h3 md-colors="{background: 'green'}">{{lrs.username}}</h3>
                <h3 md-colors="{background: 'green'}">{{lrs.password}}</h3>
                <span ng-if="lrs" hljs hljs-source="'{{ctrl.lrsObjects[$index]}}'"></span>
            </div>

            <md-button
                    class="md-raised md-accent"
                    ng-click="ctrl.removeLrs($index)">
                Delete
            </md-button>
        </md-list-item>
    </md-card-content>


    <md-card-footer layout="column"  layout-align="center stretch">
        <md-input-container>
            <label>LRS ID</label>
            <input ng-model="ctrl.lrsId" type="text">
        </md-input-container>
        <md-input-container>
            <label>LRS Endpoint</label>
            <input ng-model="ctrl.lrsEndpoint" type="text">
        </md-input-container>
        <md-input-container>
            <label>LRS Username</label>
            <input ng-model="ctrl.lrsUsername" type="text">
        </md-input-container>
        <md-input-container>
            <label>LRS Password</label>
            <input ng-model="ctrl.lrsPassword" type="text">
        </md-input-container>

        <md-button
            class="md-raised md-warn"
            ng-click="ctrl.addLrs(ctrl.lrsId, ctrl.lrsEndpoint, ctrl.lrsUsername, ctrl.lrsPassword)">
            Add LRS
        </md-button>
    </md-card-footer>
</md-card>