<md-card layout-padding="" ng-controller="TestPutStatementCtrl as ctrl">
    <md-card-header>
        Test PUT Statement
    </md-card-header>

    <md-card-content>

        <md-header class="md-primary ">
            <h4>Actor:</h4>
            <span ng-if="ctrl.actor" hljs hljs-source="'{{ctrl.actors[ctrl.actor]}}'"></span>
        </md-header>
        <md-input-container class="md-block">
            <label>actorMbox</label>
            <md-select ng-model="ctrl.actor">
                <md-option
                        ng-repeat="actor in ctrl.actors"
                        value="{{$index}}">
                    {{actor.mbox}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-header class="md-primary">
            <h4>Activity:</h4>
            <span ng-if="ctrl.activity" hljs hljs-source="'{{ctrl.activities[ctrl.activity]}}'"></span>
        </md-header>
        <md-input-container class="md-block">
            <label>activityId</label>
            <md-select ng-model="ctrl.activity">
                <md-option
                        ng-repeat="activity in ctrl.activities"
                        value="{{$index}}">
                    {{activity.id}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-header class="md-primary">
            <h4>Verb:</h4>
            <span ng-if="ctrl.verb" hljs hljs-source="'{{ctrl.verbs[ctrl.verb]}}'"></span>
        </md-header>
        <md-input-container class="md-block">
            <label>Verb["en-US"]</label>
            <md-select ng-model="ctrl.verb">
                <md-option ng-repeat="verb in ctrl.verbs"
                           value="{{$index}}">
                    {{verb.display["en-US"]}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-card-content>


    <md-card-footer layout="column" layout-align="center stretch">
        <div class="flex-min-wrapper" layout-padding>
            <div ng-if="!!ctrl.getStatement()"
                 class="md-whiteframe-5dp"
                 md-colors="{background:'yellow'}">
                {{ctrl.getStatement().toString()}}
            </div>
        </div>
        <md-button
                class="md-raised md-warn"
                ng-click="ctrl.sendStatement($event)"
                ng-disabled="!ctrl.getStatement()">
            Send Statement
        </md-button>
        <md-button ng-if="!!ctrl.requestResults"
                   class="md-raised md-accent"
                   ng-click="ctrl.requestResults=null">
            Clear
        </md-button>

        <request-results
                ng-if="!!ctrl.requestResults"
                data-errors="ctrl.requestResults.errList"
                data-successed="ctrl.requestResults.successed">
        </request-results>
    </md-card-footer>
</md-card>