<md-card layout-padding="" ng-controller="TestPostStatementsCtrl as ctrl">
    <md-card-header>
        Test POST Statements
    </md-card-header>

    <md-card-content>
        <md-list-item class="md-2-line"
                      ng-repeat="statement in ctrl.statements">
            <div class="md-list-item-text" layout="column">
                <h3 md-colors="{background: 'yellow'}">{{statement.toString()}}</h3>
                <span ng-if="statement" hljs hljs-source="'{{statement}}'"></span>
            </div>

            <md-button
                    class="md-raised"
                    ng-click="ctrl.removeStatement($index)">
                Удалить
            </md-button>
        </md-list-item>
        <md-button
                class="md-raised"
                ng-click="ctrl.addRandomStatement($event)">
            Добавить случайный Statement
        </md-button>
    </md-card-content>


    <md-card-footer layout="column"  layout-align="center stretch">
        <md-button
                class="md-raised"
                ng-click="ctrl.sendStatements($event)">
            Отправить Statements
        </md-button>

        <md-card flex="100">
            <md-card-content>
                errors:{{ctrl.requestResults.errList}}
                <hr>
                successed:{{ctrl.requestResults.successed}}
            </md-card-content>
        </md-card>
    </md-card-footer>
</md-card>