<div layout-xs="column"
     layout-sm="column"
     layout="row"
     layout-align-gt-sm="center start">
    <md-card flex-gt-sm="50"
             layout-padding
             layout-align="start"
             ng-controller="TestSaveStateCtrl as ctrl">
        <md-card-header>
            Test Save State
        </md-card-header>

        <md-card-content>

            <md-header class="md-primary">
                <h4>State to save in LRS:</h4>
                <span ng-if="ctrl.progress" hljs hljs-source="'{{ctrl.progress}}'"></span>
            </md-header>

        </md-card-content>
        <md-card-footer layout="column" layout-align="start stretch">
            <md-button
                    class="md-raised md-warn"
                    ng-click="ctrl.saveState('progress',ctrl.progress)">
                Save State
            </md-button>
            <md-button ng-if="!!ctrl.requestResults"
                       class="md-raised md-accent"
                       ng-click="ctrl.requestResults=null">
                Clear
            </md-button>

            <request-results
                    ng-if="!!ctrl.requestResults"
                    data-errors="ctrl.requestResults.errList"
                    data-successed="ctrl.requestResults.successed">
            </request-results>
        </md-card-footer>
    </md-card>

    <md-card flex-gt-sm="50"
             layout-padding
             layout-align="start"
             ng-controller="TestGetStateCtrl as ctrl">
        <md-card-header>
            Test Get State
        </md-card-header>
        <md-card-content>
            <md-header class="md-primary">
                <h4>Get State from LRS:</h4>
                <span hljs hljs-source="'progress'"></span>
            </md-header>

        </md-card-content>
        <md-card-footer layout="column" layout-align="start stretch">
            <md-button
                    class="md-raised md-warn"
                    ng-click="ctrl.getState('progress')">
                Get State
            </md-button>
            <md-button ng-if="!!ctrl.requestResults"
                       class="md-raised md-accent"
                       ng-click="ctrl.requestResults=null">
                Clear
            </md-button>

            <request-results
                    ng-if="!!ctrl.requestResults"
                    data-errors="ctrl.requestResults.errList"
                    data-successed="ctrl.requestResults.successed">
            </request-results>

        </md-card-footer>
    </md-card>
</div>