<md-card layout-padding="" ng-controller="TestPostStatementsCtrl as ctrl">
    <md-card-header>
        Test POST Statements
    </md-card-header>

    <md-card-content>
        <md-list-item class="md-2-line"
                      ng-repeat="statement in ctrl.statements">
            <div class="md-list-item-text" layout="column">
                <h3 md-colors="{background: 'yellow'}">{{statement.toString()}}</h3>
                <span ng-if="statement" hljs hljs-source="'{{statement}}'"></span>
            </div>

            <md-button
                    class="md-raised md-primary"
                    ng-click="ctrl.removeStatement($index)">
                DELETE
            </md-button>
        </md-list-item>
        <md-button
                class="md-raised md-accent"
                ng-click="ctrl.addRandomStatement($event)">
            Add random Statement
        </md-button>
    </md-card-content>


    <md-card-footer layout="column"  layout-align="center stretch">
        <md-button
                class="md-raised md-warn"
                ng-click="ctrl.sendStatements($event)"
                ng-disabled="!ctrl.statements">
            Send Statements
        </md-button>
        <md-button ng-if="!!ctrl.requestResults"
                   class="md-raised md-accent"
                   ng-click="ctrl.requestResults=null">
            Clear
        </md-button>


        <request-results
                data-errors="ctrl.requestResults.errList"
                data-successed="ctrl.requestResults.successed">
        </request-results>
    </md-card-footer>
</md-card>