<md-card layout-padding="" ng-controller="TestSaveStateCtrl as ctrl">
    <md-card-header>
        Test POST Statements
    </md-card-header>

    <md-card-content>

        <md-header class="md-primary">
            <h4>State to save in LRS:</h4>
            <span ng-if="ctrl.progress" hljs hljs-source="'{{ctrl.progress}}'"></span>
        </md-header>

    <md-card-footer layout="column"  layout-align="center stretch">
        <md-button
                class="md-raised"
                ng-click="ctrl.saveState('progress',ctrl.progress)">
            Сохранить State
        </md-button>

        <md-card flex="100">
            <md-card-content>
                errors:{{ctrl.requestResults.errList}}
                <hr>
                succesed:{{ctrl.requestResults.successed}}
            </md-card-content>
        </md-card>
    </md-card-footer>
</md-card>